#####################################################
#
# List of approvers for OpenTelemetry Collector Kubernetes Operator
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/collector-approvers @open-telemetry/operator-approvers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @open-telemetry/collector-approvers @open-telemetry/operator-approvers
*.rst @signalfx/gdi-docs @open-telemetry/collector-approvers @open-telemetry/operator-approvers
docs/ @signalfx/gdi-docs @open-telemetry/collector-approvers @open-telemetry/operator-approvers
README* @signalfx/gdi-docs @open-telemetry/collector-approvers @open-telemetry/operator-approvers
